<div id="leaderboardContainer">
  <h2>Leaderboard</h2>
  <table class="table table-hover">
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>ELO Rating</th>
      <th>Wins</th>
      <th>Losses</th>
    </tr>
    <tr data-ng-repeat="player in playerList | orderBy: 'eloRating':true">
      <td class="col-sm-1">{{ $index + 1 }}</td>
      <td class="col-sm-4">{{ player.name }}</td>
      <td class="col-sm-3">{{ player.eloRating }}</td>
      <td class="col-sm-2">{{ player.winRecord }}</td>
      <td class="col-sm-2">{{ player.lossRecord }}</td>
    </tr>
  </table>
</div>