<div id="matchContainer">
  <h2>Matches</h2>
  <form class="form-inline">
    <h4>Record a Match</h4>
    <h5>New players will be entered into the system automatically</h5>
    Date:
    <input type="date" data-ng-model="newDate" />
    Winner:
    <input type="text" data-ng-model="newWinner" />
    Loser:
    <input type="text" data-ng-model="newLoser" />
    Score (Winner - Loser):
    <input type="number" min="0" max="5" data-ng-model="newScoreW" />
    <input type="number" min="0" max="5" data-ng-model="newScoreL" />
    <input type="submit" value="Add Match" ng-click="addNewMatch()" />
  </form>
  <br />
  <table class="table table-hover">
    <tr id="matchTableHeader">
      <th class="col-sm-3" data-ng-click="setOrder('date')">Date</th>
      <th class="col-sm-3" data-ng-click="setOrder('winner')">Winner</th>
      <th class="col-sm-3" data-ng-click="setOrder('loser')">Loser</th>
      <th class="col-sm-3" data-ng-click="setOrder('loserScore')">Score</th>
    </tr>
    <tr data-ng-repeat="match in matchList | orderBy: order:true">
      <td>{{ match.date | date: 'MM/dd/yyyy' }}</td>
      <td>{{ match.winner }}</td>
      <td>{{ match.loser }}</td>
      <td>{{ match.winnerScore }} - {{ match.loserScore }}</td>
    </tr>
  </table>
</div>